{% extends 'layout.html' %}

{% block body %}
  <h1>Login</h1>
  <hr>
  <form method="POST" action="">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" name="username" class="form-control" value="{{ request.form.username }}">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" name="password" class="form-control" value="{{ request.form.password }}">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}